section{
    border: 2px solid black;
    height: 400px;
    width: 600px;
}

section div{
    border: 3px solid red;
    height: 40%;
    width: 60%;
}


/* li{
    font-size: 2em;
} */

html{
    font-size: 40px;
}

li{
    font-size: 2rem;
}

section:nth-of-type(2){
    border: 3px solid black;
    background-color: cornflowerblue;
    height: 40vh; /* view height*/
    width: 60vw;/* view width*/
}