<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
   
    <h1><%= 'hello'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam cupiditate dolorum nulla dolore libero ullam fuga, inventore rem dolores modi sit voluptate repellat quisquam! Mollitia dolore sapiente recusandae magni sunt.</p>
    
    <h2><%=randomNum%></h2>
    <%if(randomNum%2==0){%>
       
        <h2>Even Number</h2>
    <%}else{%>
        <h2>Odd Number!</h2>
    <%}%>


</body>
</html>