<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Edit Form</h1>

    <form action="/comments/<%=c.id%>?_method=PATCH" method="post">
        <label for="author">Author</label>
        <input type="text" name="author" id="author" value="<%=c.author%>">
        <br>
        <br>
        <label for="comment">Comment Text</label>
        <br>
        <textarea name="comment" id="comment" cols="30" rows="5"><%=c.comment%></textarea>
        <br>
        <button type="submit">Update</button>
    </form>
    
</body>
</html>