<% layout('layout/boilerplate') -%>



<div class="border p-3 mx-auto w-50">
    <%- include("../partials/flash") %> 
    <h1>Login</h1>
    <form action="/auth/login" method="post">
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-sm btn-success">Login</button>
    </form>
</div