<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Edit Product</h1>

    <form action="/products/<%=product._id%>?_method=PATCH" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%=product.name%>">
        <label for="price">Price</label>
        <input type="text" name="price" id="price" value="<%=product.price%>">
        <button type="submit">Update</button>
    </form>
    
</body>
</html>