<nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark p-3" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand fw-bold" href="#">Medium</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> -->
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Our Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Membership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs/new">New</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-sm btn-dark rounded-pill px-3 py-2">Getting Started</a>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>