.container{
    width: 80vw;
    margin:20px auto;
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: 250px;
    
    border:1px solid #ccc;
}

.container div{
    /* height: 30px; */
}