*{
    margin:0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(51, 30, 30);
}
nav ul{
    list-style: none;
    color: white;
   
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 10px 0px;
    margin-left: 150px;
}

.container{
    width: 80vw;
    margin:10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-auto-rows: 250px;
    gap:20px;
}

.container div img{
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.container div{
    border-radius: 12px;
    position: relative;
}

.container div:hover img{
    cursor: pointer;
    opacity: 0.5;
    filter: grayscale(100%);
}

.fa-camera-retro{
    margin-right: 10px;
   
}

.fa-camera{
    position: absolute;
    top:50%;
    left:47%;
    transform: scale(0);
    transition: 300ms;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.container div:hover .fa-camera{
    transform: scale(3);
}



