div{
    height: 40px;
    border:2px solid black;
    width: 20px;
    background-color: cyan;
    margin:10px;
    border-radius: 5px;
    animation: loader;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes loader{
    from{
        width: 20px;
    }
    to{
        width: 1200px;
    }
}

div:nth-of-type(1){
    animation-timing-function: ease-in;
}


div:nth-of-type(2){
    animation-timing-function: ease-out;
}


div:nth-of-type(3){
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}


div:nth-of-type(4){
    animation-timing-function: cubic-bezier(0.7, 0.23, 0.19, 0.85);
}




